---
layout: default
---

<div class="home">

  <h1 class="page-heading">所有博文 (共{{paginator.total_posts}}篇, {{paginator.page}}/{{paginator.total_pages}}页)</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="ds-thread-count" data-thread-key="{{ post.thread_key }}" data-count-type="comments"></span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt | truncate: 400 }}</p>
      </li>
    {% endfor %}
  </ul>
  <div class="clearfix"></div>
  <div id="post-pagination" class="pagination">
    {% if paginator.previous_page %}
      <p class="previous">
        {% if paginator.previous_page == 1 %}
          <a href="/">上一页</a>
        {% else %}
          <a href="{{ paginator.previous_page_path }}">上一页</a>
        {% endif %}
      </p>
    {% else %}
      <p class="previous disabled">
        <span>上一页</span>
      </p>
    {% endif %}

    {% if paginator.next_page %}
      <p class="next">
        <a href="{{ paginator.next_page_path }}">下一页</a>
      </p>
    {% else %}
      <p class="next disabled">
        <span>下一页</span>
      </p>
    {% endif %}

  </div>
</div>
<!-- 多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"coderli.duoshuo.com"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
