<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col contact-container">
        <ul class="contact-list">
          <li>
            <span>
            OneCoder
            </span>
            <span>
              <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_4506267'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D4506267%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            </span>
          </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS订阅</a>
          </li>
        </ul>
      </div>

      <div class="footer-col link-container">
        <span>友情链接</span>
        <table>
        <tr>
        {% for item in site.data.link limit:7 %}
        <td>
        	<a href="{{ item.url }}" target="_blank"> {{ item.name }}</a>
          </td>
        {% endfor %}
        </tr>
        <tr>
        {% for item in site.data.link limit:7 offset:7 %}
        <td>
        	<a href="{{ item.url }}" target="_blank"> {{ item.name }}</a>
          </td>
        {% endfor %}
        </tr>
        <tr>
        {% for item in site.data.link limit:7 offset:14 %}
        <td>
        	<a href="{{ item.url }}" target="_blank"> {{ item.name }}</a>
          </td>
        {% endfor %}
        </tr>
        </table>

      </div>
    </div>
  </div>
</footer>
