<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col contact-container">
        <ul class="contact-list">
          <li>OneCoder
            <span>
              <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9a56e18de4833e2edd762c36b8163227' type='text/javascript'%3E%3C/script%3E"));
            </script>
          </span>
          </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS订阅</a>
          </li>
        </ul>
      </div>

      <div class="footer-col link-container">
        <span>友情链接</span>
        <table>
        <tr>
        {% for item in site.data.link limit:7 %}
        <td>
        	<a href="{{ item.url }}" target="_blank"> {{ item.name }}</a>
          </td>
        {% endfor %}
        </tr>
        <tr>
        {% for item in site.data.link limit:7 offset:7 %}
        <td>
        	<a href="{{ item.url }}" target="_blank"> {{ item.name }}</a>
          </td>
        {% endfor %}
        </tr>
        <tr>
        {% for item in site.data.link limit:7 offset:14 %}
        <td>
        	<a href="{{ item.url }}" target="_blank"> {{ item.name }}</a>
          </td>
        {% endfor %}
        </tr>
        </table>

      </div>
    </div>
  </div>
</footer>
