---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <span class="post-meta"
        <a href="{{page.url}}" id="uyan_count_unit">0条评论</a>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1626453"></script> <!-- 如果已经过加载此行JS，即可不用重复加载 -->
      </span> • <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  {% if page.thread_key %}
  <!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1626453"></script>
<!-- UY END -->
</article>
